<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Tomasz Miller">
    <title>E-mail from Tomasz Miller's Portfolio</title>
    <style>
        body {
            margin: 20px 0;
            text-align: center;
            font-family: sans-serif;
        }
        .header, div, .footer {
            padding: 20px;
            display: block;
            width: 800px;
            margin: 0 auto;
        }
        .header {
            font-size: 22px;
            font-weight: bolder;
            color: white;
            text-align: left;
            background-color: rgb(1, 87, 155);
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }
        div {
            text-align: justify;
            background-color: #E3F2FD;
        }
        .footer {
            font-size: smaller;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            color: white;
            text-align: left;
            background-color: rgb(1, 87, 155);
            padding: 8px 20px;
        }
        div span {
            font-weight: bolder;
        }
    </style>
</head>
<body>
    <div class="header">
        TOMASZMILLER.PL
    </div>
    <div>
        Imię i nazwisko: <span th:text="${name}"></span>
    </div>
    <div>
        Adres e-mail: <span th:text="${email}"></span>
    </div>
    <div>
        Numer telefonu: <span th:text="${phone}"></span>
    </div>
    <div>
        Tekst wiadomości: <span th:text="${message}"></span>
    </div>
    <div class="footer">
        message from tomaszmiller.pl
    </div>
</body>
</html>
