<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="It is the official Tomasz Miller's portfolio">
    <meta name="author" content="Tomasz Miller">
    <title>Tomasz Miller's Portfolio</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/freelancer.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
</head>
<body id="page-top" class="index">
    <div id="skipnav">
        <a href="#maincontent">Skip to main content</a>
    </div>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top" th:text="${header}"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio" th:text="#{portfolio}">Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about" th:text="#{about}">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact" th:text="#{contact}">Contact</a>
                    </li>
                    <li>
                        <a href="?lang=pl">PL</a>
                    </li>
                    <li>
                        <a href="?lang=en">EN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive img-profile" src="img/profile.png" alt="Tomasz Miller">
                    <div class="intro-text">
                        <h1 class="name" th:text="${author}"></h1>
                        <hr class="rocket-light">
                        <span class="skills" th:text="${author_description}"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 th:text="#{portfolio}">Portfolio</h2>
                    <hr class="rocket-primary">
                </div>
            </div>
            <div class="row">

                <th:block th:each="project : ${projects}">
                    <div class="col-sm-4 portfolio-item">
                        <a th:href="'#portfolioModal' + ${project.id}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <!-- img -->
                            <img th:src="'img/portfolio/' + ${project.img} + '.png'" class="img-responsive" alt="Cabin">
                        </a>
                    </div>
                </th:block>

            </div>
        </div>
    </section>

    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 th:text="#{about}">About</h2>
                    <hr class="rocket-light">
                </div>
            </div>
            <div class="row" th:utext="${about}" style="text-align: justify;"></div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 th:text="#{contact}">Contact Me</h2>
                    <hr class="rocket-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center" style="margin: 20px auto;">
                    <h4 th:text="#{fillform}">fill out the form below</h4>
                </div>
                <div class="col-lg-6 col-lg-offset-3">
                    <form name="sentMessage" id="contactForm" th:action="@{/}" th:object="${message}" method="POST">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label th:text="#{name}" for="name">Name</label>
                                <input type="text" class="form-control" th:placeholder="#{name}" id="name" th:field="*{name}" minlength="3" required>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label th:text="#{email}" for="email">Email Address</label>
                                <input type="email" class="form-control" th:placeholder="#{email}" id="email" th:field="*{email}" required>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label th:text="#{phone}" for="phone">Phone Number</label>
                                <input type="tel" class="form-control" th:placeholder="#{phone}" id="phone" th:field="*{phone}" maxlength="13" required>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label th:text="#{message}" for="message">Message</label>
                                <textarea rows="5" class="form-control" th:placeholder="#{message}" id="message" th:field="*{message}" required></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button id="sendMessageButton" th:text="#{send}" type="submit" class="btn btn-success btn-lg">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="col-lg-12 text-center" style="margin: 20px auto;">
                        <h4 th:text="#{contactdirectly}">or contact me directly</h4>
                    </div>
                    <div class="col-md-6 col-xs-12 text-center">
                        <button class="btn btn-primary btn-lg" id="displayEmailButton" onclick="changeContent(this, 'email')" data-toggle="tooltip" data-placement="bottom" th:title="#{copied}"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;<span th:text="#{displayemail}">display my email address</span></button>
                    </div>
                    <div class="col-md-6 col-xs-12 text-center">
                        <button class="btn btn-primary btn-lg" id="displayPhoneButton" onclick="changeContent(this, 'phone')" data-toggle="tooltip" data-placement="bottom" th:title="#{copied}"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;<span th:text="#{displayphone}">display my phone number</span></button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3 th:text="#{location}">Location</h3>
                        <p th:utext="${location}"></p>
                    </div>
                    <div class="footer-col col-md-6">
                        <h3 th:text="#{around}">Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.linkedin.com/in/tomasz-miller-806290106/" class="btn-social btn-outline" target="_blank" rel="noopener">
                                    <span class="sr-only">Linked In</span>
                                    <i class="fa fa-fw fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/peniakoff" class="btn-social btn-outline" target="_blank" rel="noopener">
                                    <span class="sr-only">Github</span>
                                    <i class="fa fa-fw fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://bitbucket.org/peniakoff/" class="btn-social btn-outline" target="_blank" rel="noopener">
                                    <span class="sr-only">Bitbucket</span>
                                    <i class="fa fa-fw fa-bitbucket"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://jsfiddle.net/user/peniakoff/fiddles/" class="btn-social btn-outline" target="_blank" rel="noopener">
                                    <span class="sr-only">JSFiddle</span>
                                    <i class="fa fa-fw fa-jsfiddle"></i>
                                </a>
                            </li>
                            <li>
                                <a id="more-links" tabindex="0" role="button" class="btn-social btn-outline" data-container="body" data-trigger="focus" data-toggle="popover" data-placement="right" style="outline: 0;">
                                    <span class="sr-only">More</span>
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" th:utext="${footer}"></div>
                </div>
            </div>
        </div>
    </footer>

    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <th:block th:each="project : ${projects}">
        <div class="portfolio-modal modal fade" th:id="'portfolioModal' + ${project.id}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2 th:text="${project.title}"></h2>
                                <hr class="rocket-primary">
                                <!-- img -->
                                <img th:src="'img/portfolio/' + ${project.img} + '.png'" class="img-responsive img-centered" alt="">
                                <p th:utext="${project.paragraph}" style="text-align: justify;"></p>
                                <ul class="list-inline item-details">
                                    <li>
                                        <span th:text="#{client}">Client:</span>
                                        <strong th:text="${project.client}"></strong>
                                    </li>
                                    <li>
                                        <span th:text="#{date}">Date:</span>
                                        <strong th:text="${#calendars.format(project.date, 'MMM yyyy')}"></strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> <span th:text="#{close}">Close</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:if="${isSend} != null">
        <div class="modal fade"  id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailWasSend" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 th:text="#{emailsent}" class="modal-title">e-mail was sent</h4>
                    </div>
                    <div class="modal-body">
                        <p th:text="#{thankformessage}">Thank you for your message!</p>
                    </div>
                    <div class="modal-footer">
                        <button th:text="#{close}" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/freelancer.min.js"></script>
    <script src="js/script.min.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-82381133-1', 'auto');
        ga('send', 'pageview');
    </script>
    <th:block th:if="${isSend} != null">
        <script>
            $(document).ready(function() {
                $('#emailModal').modal('show');
            });
        </script>
    </th:block>

</body>
</html>